table {
    border-collapse: collapse;
    background-color: lightblue;
}

table, th, td {
    border: 1px solid lightblue;
    background-color: black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.list {
    background-color: lightgreen;
}

.center {
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}

.ap {
    background-color: green;
}
