.content {
  background-color:#3EA53E;
}

.content p {
  font-family:"Verdana", sans-serif;
  color:black;
}

img {
  width:100%;
}

hr.style6 {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
	color:black;
}

ul {
    background: #8132ff;
    padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
